# ------------------------------
# Snowflake (obligatorio)
# ------------------------------
# Puedes usar account o host/port. El notebook armara sfURL con prioridad:
# 1) SNOWFLAKE_HOST
# 2) SNOWFLAKE_ACCOUNT + ".snowflakecomputing.com"
SNOWFLAKE_ACCOUNT=abc12345.us-east-1
SNOWFLAKE_HOST=
SNOWFLAKE_PORT=443
SNOWFLAKE_USER=
SNOWFLAKE_PASSWORD=
SNOWFLAKE_ROLE=
SNOWFLAKE_WAREHOUSE=
SNOWFLAKE_DATABASE=DM_PSET3
SNOWFLAKE_SCHEMA_RAW=RAW
SNOWFLAKE_SCHEMA_ANALYTICS=ANALYTICS

# ------------------------------
# Parquet / fuentes
# ------------------------------
PARQUET_BASE_URL=https://d37ci6vzurychx.cloudfront.net/trip-data
TAXI_ZONE_LOOKUP_URL=https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv

# ------------------------------
# Parametrizacion de carga
# ------------------------------
START_YEAR=2015
END_YEAR=2025
# 01,02,03,...,12
MONTHS=01,02,03,04,05,06,07,08,09,10,11,12
SERVICES=yellow,green

# ------------------------------
# Control / validaciones
# ------------------------------
RUN_ID=manual_local_001
VALIDATE_STRICT=true
FAIL_ON_MISSING_MONTH=false

# Spark packages (conector Snowflake)
SPARK_SNOWFLAKE_PACKAGE=net.snowflake:spark-snowflake_2.12:3.1.8
SNOWFLAKE_JDBC_PACKAGE=net.snowflake:snowflake-jdbc:3.14.4
